<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ap.mobile.formtes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tes.SoalTes"
            android:label="Tes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".tes.HasilTes"
            android:label="Hasil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".tes.SoalTes"/>
        </activity>

        <activity
            android:name=".tes.PenyimpananTes"
            android:label="Riwayat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".terapi.MenuTerapiAsmrtist"
            android:label="Terapi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".terapi.MenuTerapiVideo"
            android:label="List Video">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".terapi.MenuTerapiAsmrtist"/>
        </activity>

        <activity
            android:name=".terapi.VideoPlayer"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:screenOrientation="landscape"
            android:theme="@style/landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>